h1 {
    color: burlywood;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
}
body {
    background-color: rgb(0, 0, 0);
}
h2 {
    color: aqua;
    text-align: right;
    margin: 10px;
}
a {
    color: yellow;
    font-size: 20px
    
    
}

div {
    text-align:right;
    margin: 10px;
}

img.moving-gif {
    display: block;
    width: 30%;
    opacity: 0.6;
}

.battery {
    position: fixed;
    z-index: 999;
    top: 10px;
    left: 10px;
    width: 100px;
    opacity: 0.8;
    transform: rotate(90deg);
}

#color_box {
    width: 300px;
    height: 150px;
    background-color: lightblue;
    border: 2px solid black;
    padding: 10px;
    margin: 20px auto;
   position: fixed;
    bottom: 10px;
    right: 10px;
    font-family: Arial, sans-serif;
    font-size: 18px;
    color: darkblue;
}